.principal {
  color:black;
  background-color:rgba(0, 0, 0, 0.233);
  text-align: center;

}
.menu{
  text-align: center;
 background-color:cornflowerblue;

 
}
.segundo{
  text-align: center;
  background-color:cornflowerblue;

}
.tercero{
  text-align: center;
  background-color:cornflowerblue;
 

 }
