.principal {
  color:black;
  background-color:rgba(0, 0, 0, 0.233);
  text-align: center;

}
.menu{
  text-align: center;
 background-color:cornflowerblue;

 
}
.segundo{
  text-align: center;
  background-color:cornflowerblue;

}
.tercero{
  padding: 10px 20px;           /* tamaño del botón */
  font-size: 16px;              /* tamaño del texto */
  background-color: #007bff;    /* color de fondo */
  color: white;                 /* color del texto */
  border: none;                 /* sin borde */
  border-radius: 8px;           /* bordes redondeados */
  cursor: pointer;              /* cursor tipo mano */
 

 }
