.principal {
  color:black;
  background-color:rgba(0, 0, 0, 0.233);
  text-align: center;

}
.menu{
  
  padding: 10px 20px;           /* tamaño del botón */
  font-size: 16px;              /* tamaño del texto */
  background-color: #007bff;    /* color de fondo */
  color: white;                 /* color del texto */
  border: none;                 /* sin borde */
  border-radius: 8px;           /* bordes redondeados */
  cursor: pointer;             
}
.segundo{
  padding: 10px 20px;           /* tamaño del botón */
  font-size: 16px;              /* tamaño del texto */
  background-color:aqua;    /* color de fondo */
  color: white;                 /* color del texto */
  border: none;                 /* sin borde */
  border-radius: 8px;           /* bordes redondeados */
  cursor: pointer;              /* cursor tipo mano */
}
.tercero{
  padding: 10px 20px;           /* tamaño del botón */
  font-size: 16px;              /* tamaño del texto */
  background-color:blue;    /* color de fondo */
  color: white;                 /* color del texto */
  border: none;                 /* sin borde */
  border-radius: 8px;           /* bordes redondeados */
  cursor: pointer;              /* cursor tipo mano */
 
 }
  .fondo{
    background-color: aqua;
  }
